# Игнорировать файл .env в корне
.env

# Игнорировать всю папку venv (любой уровень вложенности)
venv/

# Игнорировать все .pyc файлы
*.pyc

# Игнорировать папку .idea во всём проекте
.idea/

# Игнорировать конкретный файл в подпапке
build/output.json

# Игнорировать все .tmp файлы, но не игнорировать keep.tmp
*.tmp
!keep.tmp

# Игнорировать всю папку logs, но отслеживать logs/.gitkeep
logs/
!logs/.gitkeep
